version: "3.8"

services:
#  prometheus:
#    container_name: prometheus
#    volumes:
#      - '../config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml'
#    image: prom/prometheus
#    ports:
#      - '9090:9090'
  grafana:
    container_name: grafana
    volumes:
      - '../config/grafana/provisioning/:/etc/grafana/provisioning/'
    image: grafana/grafana
    ports:
      - '3000:3000'
#  jaeger:
#    container_name: jaeger
#    image: jaegertracing/all-in-one
#    volumes:
#      - '../config/jaeger/sampling_strategies.json:/etc/jaeger/sampling_strategies.json'
#    ports:
#      - '6831:6831/udp'
#      - '16686:16686'
networks: 
  default: 
    external: 
# hogyha hianyolja: docker network create dookug-local-network
      name: bs-local-network
